p {
    color: blue;
}

h1 {
    color: red;
}

img {
    width: 600px;
    margin: 15px 30px;
    border: 3px solid black;
    display: inline-block;

}

section {
    white-space:nowrap;
}


.imgshow {
    display: inline;
}

/* .before_image {
    display: None;
} */