body {
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}


p {
    color: rgb(76, 113, 117);
}



img {
    width: 250px;
    margin: 15px 20px;
    border: 3px solid rgb(78, 167, 155);
    display: inline-block;

}



form {
    display: inline;
    width: 20%;
}

section {
    white-space:nowrap;
}

span {
    white-space:nowrap ;
}

span div{
    display: inline-block;
    
}

/* span div form{
    display: inline-block;
} */

.Main_Upload p {
    color: rgb(114, 191, 201);
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
 
.Main_Upload form {
    color: rgb(114, 191, 201);
    font-size: 30px;
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.imgshow {
    display: inline;
}


.sassyness {
    color: rgb(223, 0, 0);
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}


.delete{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0); 
    background: rgb(78, 207, 224);
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 100px;
    margin: 10px;
    text-align: center;
    text-decoration: none;


    transition-property: background, color;
    transition-duration: .35s;
    transition-timing-function: linear;
    /* transition-delay: .25s; */

    
}


/*When mouse hovers over link*/
.delete:hover{  
    background: rgb(200, 235, 255);
    color: #0e14cc;
}

/* 
.accentuate {
    font-size: 18px;
    font-weight: bold;
} */