<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page </title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src = "{{ url_for('static', path='/JS-styling.js') }}"></script>

    <!-- for removing favicon.ico 404 error, DELETE for production-->
    <!-- <link rel="shortcut icon" href="#" />  -->


</head>

<!-- <section>
    <img src="{{ url_for('static', path='images/J&E_Abby_Wedding.jpg') }}" alt="Wedding outfit before dice" title="Before"/>
    <img src="{{ url_for('static', path='images/J&E_Abby_Wedding-72y128x-1.png') }}" alt="Wedding outfit before dice" title="After" />
</section> -->



<body>

    <hr>
    <div class = "Main_Upload">
    <p> Choose an image to upload!</p>
    <form action="/uploadfiles/" enctype="multipart/form-data" method="post"> 
    <input name="file" type="file">
    <input type="submit">
    </form>
    <br>
    </div>

    <!--Script for entering error messages but I cannot sem to allow for variable to react to the sent template response  -->
    <!-- <script>
        var sassy;
        if (sassy){
            error_item = document.createElement("div");
            error_item.className="sassyness";
            error_item.innerHTML=`
            WARNING The picture you chose cannot be evenly subdivided. Either crop it or choose a different picture`;
            document.getElementById("Main_Upload").appendChild(error_item);
        } else {
            console.log("did not work")
        }
    </script> -->

    {% if pic_fail != None %}
    <div class = "sassyness"> {{pic_fail}}</div>
    {% endif %}

    <hr>



    {% for pic in pic_list %}
    <span >
    
        <p> {{pic.Bef_filename}}
            <a class = "delete", href ="/delete/{{pic.id}}"> Delete</a>
            
        </p>

        <div>
        <img src="{{ url_for('static', path='images/'+ pic.Bef_filename) }}" alt="before image" title="before" onerror="imgError(this);"/>
        </div>

        <div>
        <p>Select number of dice </p>
        <form action="/dice_prog/" method="get">
            <select name="dice_perm">
                {% for dice_perm_i in pic.potent_dice_dim %}
                <option value= "{{dice_perm_i.id}}" > <!-- "{{dice_perm_i.id}}" -->
                    {{dice_perm_i.size_x}} horizontal & {{dice_perm_i.size_y}} vertical
                </option>
                {% endfor %}
            </select>
            <input type="submit"  value="Submit" style="font-size:20px; " />
        </form>
        </div>

        <div>
        {% if pic.Computed == True %}
        <img class= "before_image"  src="{{ url_for('static', path='image-Output/'+ pic.Aft_filename) }}" alt="after image" title="after" onerror="imgError(this);"/>
        {% endif %}
        </div>
        <hr>
    </span>
    {% endfor %}

    <!-- load jquery -->
    <script src = "//code.jquery.com/jquery-3.0.0.min.js"></script> <!-- add jquery library-->
    <script type = "text/javascript">
    $('.SubmitButton').click(function(){ // on submit button click
    
        var Relational_id = $('#dice_perm :selected').val(); // get the selected option's value (the relational id for the dice dimensions)
        console.log("Relational id: " + Relational_id)

    });
    
    </script>

    
    <!-- <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select> -->
</body>
</html>