<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page </title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src = "{{ url_for('static', path='/JS-styling.js') }}"></script>

</head>

<section>
    <img src="{{ url_for('static', path='images/J&E_Abby_Wedding.jpg') }}" alt="Wedding outfit before dice" title="Before"/>
    <img src="{{ url_for('static', path='images/J&E_Abby_Wedding-72y128x-1.png') }}" alt="Wedding outfit before dice" title="After"/>
</section>


<body>
    <div>{{ sample_text }}</div>
    <p> This will spew out the files to the next page if you hit submit</p>
    <form action="/originaluploadfiles/" enctype="multipart/form-data" method="post">
    <input name="file" type="file">
    <input type="submit">
    </form>
    <hr>
    <p> This will (hopefully) upload to the database</p>
    <form action="/uploadfiles/" enctype="multipart/form-data" method="post" onsubmit="imgshow()">  <!--onsubmit, this is meant to reveal, but it does not work as intended -->
    <input name="file" type="file">
    <input type="submit">
    </form>
    <br>


    {% if sassy == True %}
    <div class = "sassyness"> WARNING The picture you chose cannot be evenly subdivided. Either crop it or choose a different picture</div>

    <!-- <script>
    function alert_Function() {
        alert("The picture you chose cannot be subdivided. Either crop it or choose a different one");
        var sassy = False;
    }
    window.onload = alert_Function();
    </script> -->
    {% endif %}

    {% if pic_fail == True %}
    <div class = "sassyness"> WARNING cannot read, make sure you are submitting a picture</div>
    {% endif %}

    {% for pic in pic_list %}
    <span >
    <hr>
    <p> {{pic.filename}}
        <a href ="/delete/{{pic.id}}"> Delete</a>
        
    </p>

    <img class= "before_image"  src="{{ url_for('static', path='images/'+ pic.filename) }}" alt="before" title="before" onerror="imgError(this);"/>
    <div></div>
    </span>
    {% endfor %}

    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
</body>
</html>